adif-io==0.0.3
backports.entry-points-selectable==1.1.0
build==0.6.0.post1
cfgv==3.3.1
distlib==0.3.2
filelock==3.0.12
identify==2.2.14
nodeenv==1.6.0
npyscreen==4.10.5
packaging==21.0
pep517==0.11.0
platformdirs==2.3.0
pre-commit==2.15.0
pyparsing==2.4.7
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
tomli==1.2.1
virtualenv==20.7.2
